<!DOCTYPE html>
<html lang="en">
<head>
  <title>Profile</title>

  <meta charset="utf-8">
  <title>Question</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="../../styles/normalize.css">
  <link rel="stylesheet" href="../../styles/scss/style.css">
  <meta name="theme-color" content="#fafafa">
  <script src="https://kit.fontawesome.com/f64cdc1941.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="add-question">
<div class="main-container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Admin Panel</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Statistics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Quizzes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Settings</a>
        </li>
      </ul>
    </div>
    <button type="button" class="btn btn-danger">Logout</button>
  </nav>

  <div class="main">
    <button class="back-btn">
      <i class="fas fa-chevron-left"></i> Back
    </button>
    <h1 class="heading-general">Question features</h1>
    <form class="add-question-form">
      <div class="form-group">
        <label for="question">Question</label>
        <textarea id="question" class="form-control" rows="3"></textarea>
      </div>

      <div class="form-group">
        <label for="type">Type</label>
        <select class="form-control" id="type" data-value="type">
          <option value="radio" selected>Single (radio)</option>
          <option value="check">Multi (checkbox)</option>
          <option value="text">Text (text)</option>
        </select>
      </div>

      <div class="form-group answers">
        <label class="form-group-label">
          <span class="label-heading">Answers</span>
          <div>
            <div class="add-box">
              <input type="text" class="form-control input-text-first answer"/>
            </div>
          </div>
        </label>
      </div>

      <div class="btn-answer-box">
        <button type="button" class="btn btn-primary btn-lg btn-block"><i class="fas fa-plus"></i></button>
      </div>

      <div class="form-group variants">
        <label class="form-group-label">
          <span class="label-heading">Variants</span>
          <div>
            <div class="add-box">
              <input type="text" class="form-control input-text-first variant"/>
            </div>
          </div>
        </label>
      </div>

      <div class="btn-variant-box">
        <button type="button" class="btn btn-primary btn-lg btn-block"><i class="fas fa-plus"></i></button>
      </div>

      <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
        Create Question
      </button>

      <div class="error">
        <span class="error-text"></span>
      </div>
    </form>

    <script src="../../../dist/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </div>
</div>
</body>
</html>
