<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Question</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="../../styles/normalize.css">
  <link rel="stylesheet" href="../../styles/scss/style.css">

  <meta name="theme-color" content="#fafafa">
</head>
<body class="public-body">
<div class="wrapper">
  <form class="quiz-form" method="POST">
    <div class="js-form-control">
      <div class="question-info">Question #2</div>
      <div class="question-text">Which lorem you like the most?</div>
      <div class="question-box">
        <div class="form-control-radio">
          <label class="check option">
            <input class="radio-input" type="radio" name="case2">
            <span class="radio-box"></span>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque.
          </label>
        </div>

        <div class="form-control-radio">
          <label class="check option">
            <input class="radio-input" type="radio" name="case2">
            <span class="radio-box"></span>
            Lorem ipsum dolor sit amet.
          </label>
        </div>

        <div class="form-control-radio">
          <label class="check option">
            <input class="radio-input" type="radio" name="case2">
            <span class="radio-box"></span>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur iusto molestias quaerat!
          </label>
        </div>

        <div class="form-control-radio">
          <label class="check option">
            <input class="radio-input" type="radio" name="case2">
            <span class="radio-box"></span>
            Lorem ipsum.
          </label>
        </div>

        <div class="form-control-radio">
          <label class="check option">
            <input class="radio-input" type="radio" name="case2">
            <span class="radio-box"></span>
            Lorem ipsum dolor.
          </label>
        </div>
      </div>
    </div>
    <div class="buttons">
      <button class="submit-button" type="submit">Submit</button>
      <button class="back-button" type="reset">Back</button>
    </div>
    <script src="../../../dist/main.js"></script>
  </form>
</div>
</body>
</html>
