<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Question</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="../../styles/normalize.css">
  <link rel="stylesheet" href="../../styles/scss/style.css">

  <meta name="theme-color" content="#fafafa">
</head>
<body class="public-body">
<div class="wrapper">
  <form class="quiz-form">
    <div class="js-form-control">
      <div class="question-info"></div>
      <div class="question-text"></div>
      <div class="question-box"></div>
    </div>
    <div class="buttons">
      <button class="submit-button" type="submit">Submit</button>
      <button class="back-button" type="reset">Back</button>
    </div>
  </form>
  <script src="../../../dist/main.js"></script>
</div>
</body>
</html>
