<!DOCTYPE html>
<html lang="en">
<head>
  <title>Profile</title>

  <meta charset="utf-8">
  <title>Question</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet">
  <link rel="manifest" href="site.webmanifest">

  <link rel="stylesheet" href="../../css/normalize.css">
  <link rel="stylesheet" href="../../css/style.css">
  <meta name="theme-color" content="#fafafa">
  <script src="https://kit.fontawesome.com/f64cdc1941.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="main-container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Admin Panel</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Statistics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Quizzes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Settings</a>
        </li>
      </ul>
    </div>
    <button type="button" class="btn btn-danger">Logout</button>
  </nav>

  <div class="main">
    <h1 class="heading-general">Question features</h1>
    <form>
      <div class="form-group">
        <label for="question">Question</label>
        <textarea id="question" class="form-control" rows="3"></textarea>
      </div>

      <div class="form-group">
        <label for="tags">Tags</label>
        <div class="tags" id="tags">
          <div class="tag"><button type="button" class="btn btn-primary">anger <i class="fas fa-times"></i></button></div>
          <div class="tag"><button type="button" class="btn btn-primary">pride <i class="fas fa-times"></i></button></div>
          <div class="tag"><button type="button" class="btn btn-primary">greed <i class="fas fa-times"></i></button></div>
          <div class="tag"><button type="button" class="btn btn-primary">lust <i class="fas fa-times"></i></button></div>
          <div class="tag"><button type="button" class="btn btn-primary">envy <i class="fas fa-times"></i></button></div>
          <div class="tag"><button type="button" class="btn btn-primary">sloth <i class="fas fa-times"></i></button></div>
          <div class="tag"><button type="button" class="btn btn-primary">gluttony <i class="fas fa-times"></i></button></div>
          <div class="tag"><button type="button" class="btn btn-light"><i class="fas fa-plus"></i></button></div>
        </div>
      </div>

      <div class="form-group">
        <label for="type">Type</label>
        <select class="form-control" id="type">
          <option selected>Single (radio)</option>
          <option>Multi (checkbox)</option>
          <option>Text (text)</option>
        </select>
      </div>

      <div class="form-group">
        <label for="answer">Answer</label>
        <input type="text" id="answer" class="form-control"/>
      </div>

      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </div>
</div>
</body>
</html>
