<!DOCTYPE html>
<html lang="en">
<head>
  <title>Profile</title>

  <meta charset="utf-8">
  <title>Question</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet">
  <link rel="manifest" href="site.webmanifest">

  <link rel="stylesheet" href="../../css/normalize.css">
  <link rel="stylesheet" href="../../css/style.css">
  <meta name="theme-color" content="#fafafa">
  <script src="https://kit.fontawesome.com/f64cdc1941.js"></script>
</head>
<body>
<div class="main-container">
  <div class="header">
    <div class="navpanel">
      <ul class="nav-links">
        <li><a class="link" href="#">One</a></li>
        <li><a class="link" href="#">Two</a></li>
        <li><a class="link" href="#">Three</a></li>
      </ul>
    </div>
    <a class="cta" href="#"><button class="logout" type="reset">Logout</button></a>
  </div>

  <div class="main">
    <div class="main-actions">
      <h1 class="heading-general">Questions</h1>
      <a href="add-question.html"><button class="add" type="reset">Add</button></a>
    </div>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Question</th>
        <th scope="col">Actions</th>
        <th scope="col">Created</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">1</th>
        <td>
          Lorem ipsum dolor sit.
        </td>
        <td>
          <a href="#" class="btn btn-light">
            <i class="fas fa-pencil-alt"></i>
          </a>

          <button type="button" class="btn btn-danger">
            <i class="fas fa-trash-alt"></i>
          </button>
        </td>
        <td><span class="date">01/14/2019</span></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>
          Lorem ipsum dolor sit amet, consectetur adipisicing.
        </td>
        <td>
          <a href="#" class="btn btn-light">
            <i class="fas fa-pencil-alt"></i>
          </a>

          <button type="button" class="btn btn-danger">
            <i class="fas fa-trash-alt"></i>
          </button>
        </td>
        <td><span class="date">07/12/2016</span></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>
          Lorem ipsum dolor.
        </td>
        <td>
          <a href="#" class="btn btn-light">
            <i class="fas fa-pencil-alt"></i>
          </a>

          <button type="button" class="btn btn-danger">
            <i class="fas fa-trash-alt"></i>
          </button>
        </td>
        <td><span class="date">10/10/2019</span></td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>
          Lorem ipsum dolor sit.
        </td>
        <td>
          <a href="#" class="btn btn-light">
            <i class="fas fa-pencil-alt"></i>
          </a>

          <button type="button" class="btn btn-danger">
            <i class="fas fa-trash-alt"></i>
          </button>
        </td>
        <td><span class="date">01/02/2018</span></td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur libero perspiciatis quaerat quia quos recusandae rerum sapiente temporibus totam ut!
        </td>
        <td>
          <a href="#" class="btn btn-light">
            <i class="fas fa-pencil-alt"></i>
          </a>

          <button type="button" class="btn btn-danger">
            <i class="fas fa-trash-alt"></i>
          </button>
        </td>
        <td><span class="date">01/14/2019</span></td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
</body>
</html>
