<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <title>Question</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet">
  <link rel="manifest" href="site.webmanifest">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="../../css/normalize.css">
  <link rel="stylesheet" href="../../css/style.css">
  <meta name="theme-color" content="#fafafa">
</head>
<body>
<!--[if IE]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
<![endif]-->

<!-- Add your site or application content here -->
<div class="dialog-window">
  <form class="quiz-form" action="SomeEndpoint.php" method="POST">
    <div class="question-info">Question #2</div>
    <div class="question-text">Which lorem you like the most?</div>
    <div class="question-box">
      <label class="check option">
        <input class="radio-input" type="radio" name="case">
        <span class="radio-box"></span>
        Lorem ipsum dolor sit amet.
      </label>

      <label class="check option">
        <input class="radio-input" type="radio" name="case">
        <span class="radio-box"></span>
        Lorem ipsum.
      </label>

      <label class="check option">
        <input class="radio-input" type="radio" name="case">
        <span class="radio-box"></span>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, modi!
      </label>

      <label class="check option">
        <input class="radio-input" type="radio" name="case">
        <span class="radio-box"></span>
        Lorem ipsum dolor sit amet.
      </label>

      <label class="check option">
        <input class="radio-input" type="radio" name="case">
        <span class="radio-box"></span>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, alias architecto blanditiis eligendi in ipsum minima nihil placeat velit voluptatibus?
      </label>
    </div>
    <div class="buttons">
      <button class="submit-button" type="submit">Submit</button>
      <button class="back-button" type="reset">Back</button>
    </div>
  </form>
</div>

</body>
</html>
