.error {
  color: red;
  margin-top: 20px;
}

.main {
  width: 1600px;
  margin: 50px auto;
}

.table-question-text {
  width: 60%;
}

.tags {
  display: flex;
  flex-direction: row;
}

.tag {
  padding-right: 20px;
}

.form-group.btn-primary {
  border-radius: 20px;
}

.form-group-label {
  width: 100%;
}

.input-text {
  width: 100%;
  margin-right: 20px;
}

.input-text-first {
  width: 100%;
}

.label-heading {
  display: block;
  margin-bottom: 8px;
}

.back-btn {
  border: 0;
  background-color: white;
}

.btn-block {
  margin-bottom: 20px;
}

.add-box {
  display: flex;
  flex-direction: row;
  margin-bottom: 8px;
}

@media screen and (max-width: 1655px){
  .main {
    width: 1000px;
  }
}

@media screen and (max-width: 1040px){
  .main {
    width: 650px;
  }
}

@media screen and (max-width: 649px){
  .main {
    width: 100%;
  }
}